<div class="mx-auto max-w-screen-xl">
  <p class="pb-4 text-3xl font-medium">Sản phẩm chi tiết</p>
  <div *ngIf="product" class="hero min-h-screen bg-base-200">
    <div class="hero-content flex flex-col lg:flex-row">
      <img
        src="https://picsum.photos/2500/1667/"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div class="pl-12">
        <div class="flex justify-between">
          <h1 class="text-3xl font-bold pr-4">{{ product.title }}</h1>
          <div
            class="flex items-center rounded border border-[#476730] bg-[#476730] px-4 py-2 text-xs font-medium text-white hover:bg-transparent hover:text-[#476730] focus:outline-none focus:ring active:text-[#476730]"
          >
            <p>{{ product._id }}</p>
          </div>
        </div>
        <p class="py-6 text-xl max-w-xl text-red-500">{{ product.price }}đ</p>
        <p class="pb-3 max-w-xl">{{ product.category.name }}</p>

        <form
          [formGroup]="bidForm"
          (ngSubmit)="handleSubmit()"
          class="max-w-64 pb-2 flex"
        >
          <label for="Quantity" class="sr-only">Quantity</label>
          <label
            class="relative block rounded-md border px-6 border-gray-200 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <input
              type="number"
              formControlName="price"
              class="peer border-none bg-transparent placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 my-2"
            />
            <span
              class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-[#F9FAEF] p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs"
              >Price bids</span
            >
          </label>
          <div
            class="flex items-center rounded border border-[#476730] bg-[#476730] px-4 text-sm font-medium text-white"
          >
            <button type="submit">Bid</button>
          </div>
        </form>
        <countdown [config]="config"></countdown>
        <p>bidPriceMax : {{ product.bidPriceMax }}</p>
      </div>
      <div class="max-w-80 min-h-screen-full ml-12">
        <h1>Lịch sử đấu giá</h1>
        <div
          class="relative block rounded-md px-2 py-2 border border-[#476730] shadow-sm"
        >
          @for (bid of product.bids; track bid) {
          <p>
            {{ bid.user.username }} -
            {{ bid.createdAt | date : "dd/MM/yyyy" }} -{{ bid.price }}vnđ
          </p>
          }
        </div>
      </div>
    </div>
    <div class="pt-10">
      <p class="text-xl font-medium"><strong>Mô tả sản phẩm</strong></p>
      <p class="max-w-[1124px]">{{ product.description }}</p>
    </div>
  </div>
</div>
