<header class="">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a href="" class="text-[32px]"> TienViet </a>
        <div class="">
          <div class="lg:max-w-[548px] w-full mx-auto">
            <div class="relative flex">
              <input
                id="searchId"
                #searchInput
                class="relative text-sm leading-none text-gray-600 bg-white w-full px-10 py-4 outline-none border-2 rounded-l border-gray-400 h-[40px]"
                type="text"
                placeholder="Search"
              />
              <button
                (click)="search(searchInput.value)"
                class="search bg-[#476730] rounded-r text-white px-4"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-lg">
            <li>
              <a class="transition hover:text-gray-500/75" href="/admin/list">
                List Products
              </a>
            </li>
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div></div>
          <div *ngIf="!user" class="sm:flex sm:gap-4">
            <a
              class="rounded-md bg-[#476730] px-5 py-2.5 text-lg font-medium text-white shadow"
              [routerLink]="['/login']"
            >
              Login
            </a>

            <div class="hidden sm:flex">
              <a
                class="rounded-md bg-[#476730] px-5 py-2.5 text-lg text-white font-medium"
                [routerLink]="['/register']"
              >
                Register
              </a>
            </div>
          </div>

          <div *ngIf="user" class="flex items-center gap-4">
            <a href="#" class="flex items-center gap-2 p-4">
              <img
                alt=""
                src="../../../assets/IMG_3648.JPG"
                class="size-10 rounded-full object-cover"
              />

              <div>
                <p class="text-xl">
                  <strong class="block font-medium">{{ user.username }}</strong>
                  <span> </span>
                </p>
              </div>
            </a>
            <button
              (click)="logout()"
              class="rounded p-2 text-black transition hover:text-gray-600/75"
            >
              <i class="fa-solid fa-right-from-bracket"></i>
            </button>
          </div>

          <div class="block md:hidden">
            <button
              class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
